html,body{
    margin: 0 auto;
    height: 3000px;
}
.box{
    width: 1162px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

